name: Sync Fork

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Upstream Tag"
        required: false

permissions:
  contents: write

jobs:
  sync:
    runs-on: ubuntu-24.04

    steps:
      - name: Get latest tag
        id: tag
        run: |
          if [ -n "${{ github.event.inputs.tag }}" ]; then
            echo "tag=${{ github.event.inputs.tag }}" | tee -a "$GITHUB_OUTPUT"
          else
            (
              echo -n "tag="
              curl --silent https://api.github.com/repos/restic/restic/releases/latest | jq --raw-output .tag_name
            ) | tee -a "$GITHUB_OUTPUT"
          fi

      - uses: actions/checkout@v4
        with:
          repository: restic/restic
          ref: ${{ steps.tag.outputs.tag }}
          fetch-depth: 0

      - name: Patch
        run: |
          mv internal/ api/
          find . -type f -name "*.go" -exec sed -i "$SED_PATTERN" {} +
        env:
          SED_PATTERN: "s|github.com/restic/restic/internal|github.com/restic/restic/api|g"

      - name: Build
        run: |
          make
          make clean

      - name: Commit and tag changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          GIT_AUTHOR_DATE=$(git show --no-patch --format=%aI HEAD)
          GIT_COMMITTER_DATE=$GIT_AUTHOR_DATE
          export GIT_AUTHOR_DATE GIT_COMMITTER_DATE
          git add .
          git commit --message "Expose internal modules as public apis"
          git tag --force ${{ steps.tag.outputs.tag }}

      - name: Push tag
        run: |
          git push --force https://github.com/${{ github.repository }}.git ${{ steps.tag.outputs.tag }}
